@import "../../utils/variables.scss";

.tracking {
    font-family: $Montserrat;
    color: #000;

    &__content {
        flex: 1;
        margin: 0 100px;
    }

    &__search {
        background: #ffffff;
        border-radius: 7px 7px 7px 0px;
        padding: 27px 38px 42px;

        &-title {
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 15px;
        }
    }

    &__results {
        background: #ffffff;
        margin-top: 37px;
        padding: 18px 22px;

        &-wrapper {
            display: flex;
            flex-direction: column;
        }

        &-content {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 110px 0 182px;
            font-size: 26px;
            line-height: 32px;
            color: #3e3e3e;
            text-align: center;
        }
    }
}

// ------------------MEDIA Queries-------------------------------------------//
@media #{$desktop-md} {
    .tracking {
        &__results {
            &-content {
                font-size: 20px;
                line-height: 22px;
            }
        }
    }
}

@media #{$desktop-sm} {
    .tracking {
        &__content {
            margin: 0 50px;
        }

        &__search {
            padding: 27px 15px 42px;
        }

        &__results {
            &-code {
                order: 2;
            }

            &-statuses {
                order: 3;
                margin: 0;
                padding: 0 15px;
            }
        }

        &-status {
            order: 1;
            margin-left: 0;
            width: 100%;
        }
    }
}

@media #{$tablet-md} {
    .tracking {
        &__content {
            margin: 0;
        }
    }
}

@media #{$tablet-sm} {
    .tracking {
        &__results {
            &-content {
                padding: 90px 0 130px;
            }
        }
    }
}

@media #{$mobile-lg} {
    .tracking {
        &__results {
            margin-top: 20px;

            &-code {
                span {
                    font-size: 18px;
                    line-height: 20px;
                }
            }

            &-content {
                padding: 40px 0 90px;
                font-size: 18px;
            }
        }

        &__search {
            &-title {
                font-size: 20px;
                line-height: 22px;
            }
        }
    }
}
