@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";

.list__content {
    &-filters {
        background-color: #fff;
        width: 170px;
        font-size: 16px;
        padding: 15px 20px 15px 10px;
        margin-right: -150px;
        display: flex;
        flex-direction: column;
        align-self: baseline;

        &-close {
            @include clear-default-btn;

            &-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 15px;
            }
        }

        &-label {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;

            &-btn {
                @include clear-default-btn;
            }

            span {
                font-weight: bold;
                font-size: 17px;
            }
        }

        &-checkboxes {
            display: flex;
            flex-direction: column;

            label {
                font-size: 16px !important;
            }

            .ui.checkbox .box,
            .ui.checkbox label {
                padding-left: 1.4em;
            }

            .ui.checkbox {
                margin: 10px 0;
            }
        }

        &-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 15px auto 0;
            background: $main-blue;
            color: #fff;
            border: 0;
            width: 100%;
            padding: 10px 5px;
        }
    }

    &-filter {
        margin-bottom: 15px;
    }
}

// ------------------MEDIA Queries-------------------------------------------//
@media #{$desktop-sm} {
    .list__content {
        &-filters {
            margin-right: -100px;
        }
    }
}

@media #{$tablet-sm} {
    .list__content {
        &-filters {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            width: 100%;
            height: auto;
            background-color: #fff;
            padding: 15px;
            transform: translateX(-100%);
            transition: 0.2s all linear;

            &.show {
                transform: translateX(0);
            }
        }
    }
}
