@import "../../utils/variables.scss";

.list__content {
    &-filters {
        background-color: #fff;
        width: 170px;
        font-size: 16px;
        padding: 15px 20px 15px 10px;
        margin-right: -150px;
        display: flex;
        flex-direction: column;
        align-self: baseline;

        &-label {
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            margin-bottom: 10px;

            &-btn {
                background: 0;
                border: 0;
                cursor: pointer;
            }

            span {
                font-weight: bold;
                font-size: 17px;
            }
        }

        &-checkboxes {
            display: flex;
            flex-direction: column;

            label {
                font-size: 16px !important;
            }

            .ui.checkbox .box,
            .ui.checkbox label {
                padding-left: 1.4em;
            }

            .ui.checkbox {
                margin: 10px 0;
            }
        }

        &-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 15px auto 0;
            background: #1d97f0;
            color: #fff;
            border: 0;
            width: 100%;
            padding: 10px 5px;
        }
    }
}

// ------------------MEDIA Queries-------------------------------------------//
@media #{$desktop-sm} {
    .list__content {
        &-filters {
            margin-right: -100px;
        }
    }
}

@media #{$tablet-sm} {
    .list__content {
        &-filters {
            display: none;
        }
    }
}
