@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";

.order-form {
    display: flex;
    flex-direction: column;
    padding: 0 31px;
    font-family: $Montserrat;
    font-weight: 300;
    color: #000000;

    &__container {
        display: flex;
        width: 100%;

        &-content {
            width: 50%;
        }

        &-shopAddress {
            display: flex;
            align-items: center;
            margin: 10px 0;

            span {
                margin-right: 10px;
            }
        }

        &-label {
            &.passive {
                opacity: 0.3;
            }
        }

        &-radio {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            input[type="radio"] {
                margin-right: 5px;
            }
        }
    }

    &__userData {
        display: flex;
        flex-direction: column;
        margin-bottom: 70px;

        input {
            margin: 10px 0;
        }
    }

    &__title {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 5px;
    }

    &__subtitle {
        font-style: italic;
        font-weight: 300;
        font-size: 14px;
        line-height: 12px;
        color: #3e3e3e;
        margin-bottom: 15px;
    }

    &__delivery {
        &-address {
            margin: 10px 0;

            &.passive {
                @include passive_inputs;
            }
        }

        &-comment {
            margin-bottom: 80px;

            &.passive {
                @include passive_inputs;
            }
        }

        &-city {
            &.passive {
                opacity: 0.3;
            }
        }
    }

    &__payment {
        &-total {
            font-size: 16px;
            line-height: 17px;
            margin-bottom: 10px;
            display: flex;

            div {
                color: $main-blue;
                margin-left: 5px;

                span {
                    margin-right: 5px;
                }
            }
        }
    }

    &__change {
        margin-bottom: 30px;
        font-size: 16px;

        input[type="number"] {
            width: 80px !important;
            margin: 0 10px;
        }
    }

    &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;

        button {
            @include clear-default-btn;
        }

        .goBack {
            font-size: 14px;
            line-height: 17px;
            color: #3e3e3e;
            margin-right: 12px;

            &:hover {
                color: $main-blue;
            }
        }

        .submit {
            font-size: 18px;
            line-height: 22px;
            color: #ffffff;
            background: $main-blue;
            border-radius: 7px;
            width: 220px;
            height: 45px;
            text-align: center;

            &:hover {
                background: $blue-focus-btn;
            }
        }
    }

    &__error {
        color: red;
    }

    .error {
        border-color: red !important;
    }

    input:not([type="radio"]),
    textarea {
        padding: 5px 10px;
        width: 300px;
        background: #ffffff;
        border: 1px solid $main-blue;

        &:focus {
            @include order-input-focus;
        }
    }

    textarea {
        resize: vertical;
        min-height: 50px;
        max-height: 200px;
    }

    input::placeholder,
    textarea::placeholder {
        color: #c4c4c4;
    }
}

// ------------------MEDIA Queries-------------------------------------------//
@media #{$desktop-md} {
    .order-form {
        &__container {
            flex-direction: column;

            &-content {
                width: 90%;
            }
        }

        &__delivery {
            &-comment {
                margin-bottom: 20px;
            }
        }
    }
}

@media #{$desktop-sm} {
    .order-form {
        padding: 0 15px;
    }
}

@media #{$tablet-md} {
    .ui.modal > .actions {
        padding: 1rem 1rem !important;
    }
}

@media #{$mobile-lg} {
    .order-form {
        &__container {
            &-content {
                width: 100%;
            }

            &-shopAddress {
                flex-direction: column;
                align-items: flex-start;

                span {
                    margin-right: 0;
                    margin-bottom: 5px;
                }
            }
        }

        &__buttons {
            flex-direction: column-reverse;

            button[type="button"] {
                margin-right: 0;
                margin-top: 10px;
            }
        }
    }
}

@media #{$mobile-md} {
    .order-form input:not([type="radio"]),
    .order-form textarea {
        width: 250px;
    }
}
