@import "../../utils/variables.scss";

.order {
    &__content {
        margin: 0 100px;
        background: #ffffff;
        border-radius: 7px;
        flex: 1;
        padding: 26px 0;
        font-family: $Montserrat;
        color: #000;

        &-header {
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 15px;
            padding: 0 31px;
        }

        &-promo {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-bottom: 20px;
            padding: 0 26px;
            margin: 15px 0 0;

            &-data {
                width: 230px !important;
                padding: 5px;
                margin-right: 10px;
                border-color: #1d97f0;
                background: #ffffff;
                border: 1px solid #1d97f0;
                box-sizing: border-box;
            }

            button {
                background: #1d97f0;
                border-radius: 2px;
                border: 0;
                color: #fff;
                font-size: 14px;
                padding: 6px 15px;
                cursor: pointer;
            }
        }
    }
}

// ------------------MEDIA Queries-------------------------------------------//
@media #{$desktop-sm} {
    .order {
        &__content {
            margin: 0 50px;

            &-header {
                padding: 0 15px;
            }

            &-promo {
                padding: 0 15px;
            }
        }
    }
}

@media #{$tablet-md} {
    .order {
        &__content {
            margin: 0;
        }
    }
}

@media #{$mobile-lg} {
    .order {
        &__content {
            &-promo {
                flex-direction: column;

                &-data {
                    margin-right: 0;
                    margin-bottom: 5px;
                }
            }
        }
    }
}
