@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";

.detail {
    &__warehouse {
        text-align: right;
        padding-right: 100px;
        font-family: $Montserrat;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }

    &__main {
        margin: 0 auto 32px;
        width: 100%;
        position: relative;

        &-content {
            background: #ffffff;
            border-radius: 0px 7px 7px 0px;
            position: absolute;
            top: 0;
            left: 48%;
            width: 52%;
            font-family: $Montserrat;
            padding: 10px 20px;

            .code {
                font-weight: 300;
                font-size: 16px;
                line-height: 12px;
                color: #3e3e3e;
            }

            .is-present {
                font-weight: 300;
                font-size: 14px;
                line-height: 17px;
                color: #000000;
                text-align: right;
            }

            .title {
                font-size: 28px;
                line-height: 34px;
                color: #000000;
                margin: 5px 0 10px;
            }

            .content__cart {
                border-radius: 7px;
                font-family: $Montserrat;
                font-weight: 500;
                font-size: 16px;
                line-height: 16px;
                text-align: center;
                text-transform: uppercase;
                color: #ffffff;
                width: 346px;
                padding: 18px 10px;
                display: block;
                margin: 27px auto 0;

                &.added {
                    background-color: #28a745;
                }

                &.notAdded {
                    background-color: #1d97f0;

                    &:hover {
                        background: #047ec9;
                    }
                }
            }
        }

        &-rating {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            .ui.rating {
                display: block;
                margin: auto 0;
                margin-right: 10px;
            }
        }

        &-price {
            display: flex;
            align-items: center;
            font-family: $Montserrat;
            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
            margin-bottom: 10px;

            &-label {
                margin-right: 5px;
            }

            &-content {
                margin: 0 15px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            &-discount {
                background-color: #1d97f0;
                color: #fff;
                border-radius: 5px;
                padding: 3px;
                display: flex;
                align-items: center;
                justify-content: center;

                span {
                    margin: 0 2px;
                }
            }

            &-oldPrice {
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                text-decoration-line: line-through;
                color: #a3a3a3;

                span {
                    margin-right: 5px;
                }
            }

            &-newPrice {
                .price {
                    font-family: $Montserrat;
                    font-weight: 500;
                    font-size: 30px;
                    line-height: 37px;
                    text-align: center;
                    color: #1d97f0;
                    margin-right: 5px;
                }
            }
        }

        &-quantity {
            display: flex;
            align-items: center;
            font-family: $Montserrat;
            font-weight: 300;
            font-size: 16px;
            line-height: 16px;
            color: #000000;
            margin-bottom: 10px;
        }
    }

    &__info {
        &-buttons {
            display: flex;
            align-items: center;
        }

        &-btn {
            background: #e1e1e1;
            border-radius: 7px 7px 0px 0px;
            font-family: $Montserrat;
            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
            width: 179px;
            height: 64px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 0 5px;

            &.active {
                background: #fff;
            }

            &:nth-child(2) {
                margin: 0 10px;

                span {
                    margin-left: 2px;
                }
            }
        }

        &-content {
            background: #ffffff;
            padding: 30px 58px;

            &-item {
                margin-bottom: 10px;
            }

            &-value {
                font-family: $Montserrat;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: #000000;

                &:first-child::after {
                    content: "";
                    border: 1px solid #000000;
                    display: block;
                    margin: 48px 0;
                }
            }

            .form {
                display: flex;
                flex-direction: column;
                font-size: 12px;
                width: 300px;

                input,
                textarea {
                    background: #ffffff;
                    border: 1px solid #1d97f0;
                    height: 30px;
                    padding: 20px 10px;
                    margin: 10px 0;
                    font-size: 16px;

                    &::placeholder {
                        font-family: $Montserrat;
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 16px;
                        color: #c4c4c4;
                    }

                    &:focus {
                        @include order-input-focus;
                    }
                }

                textarea {
                    min-height: 70px;
                    max-height: 200px;
                    resize: vertical;
                    padding: 5px;
                }

                &__rating {
                    display: flex;
                    align-items: center;
                    margin: 10px 0;
                    font-family: $Montserrat;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 16px;
                    display: flex;
                    align-items: center;
                    color: #000000;

                    .ui.rating {
                        margin-left: 10px;
                        margin-bottom: 0;
                    }
                }

                &__btn {
                    background: #1d97f0;
                    border: 0;
                    cursor: pointer;
                    font-family: $Montserrat;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 17px;
                    color: #ffffff;
                    width: 100%;
                    height: 30px;
                }
            }
        }
    }

    &__similar {
        margin: 30px 0;

        &-title {
            font-family: $Montserrat;
            font-weight: 300;
            font-size: 43px;
            line-height: 52px;
            text-align: center;
            color: #ffffff;
            margin-bottom: 30px !important;
        }

        &-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

// MEDIA Queries
@media #{$desktop-md} {
    .detail {
        &__main {
            &-content {
                .title {
                    font-size: 25px;
                    line-height: 30px;
                    margin-top: 0;
                }

                .content__cart {
                    width: 300px;
                }
            }

            &-price {
                .price {
                    font-size: 25px;
                    line-height: 25px;
                }
            }
        }
    }
}

@media #{$desktop-sm} {
    .detail {
        &__main {
            &-content {
                border-radius: 0px 0px 7px 7px;

                .is-present {
                    display: none;
                }

                .title {
                    text-align: center;
                    font-weight: bold;
                }

                .code {
                    text-align: center;
                }
            }

            &-rating {
                justify-content: center;
            }

            &-price {
                justify-content: center;
            }

            &-quantity {
                justify-content: center;
            }
        }
    }
}

@media #{$tablet-lg} {
    .detail {
        &__main {
            &-content {
                .title {
                    font-size: 20px;
                }

                .content__cart {
                    width: 250px;
                }
            }

            &-rating {
                .ui.rating {
                    margin-right: 0;
                }
            }
        }
    }
}

@media #{$tablet-md} {
    .detail {
        &__main {
            position: unset;
            flex-direction: column;

            &-content {
                padding: 10px 15px 25px;
                width: 100%;
                position: unset;

                .content__cart {
                    margin: 15px auto 0;
                }
            }
        }

        &__info {
            &-content {
                padding: 30px 15px;
            }
        }

        &__similar {
            &-title {
                font-size: 35px;
                line-height: 40px;
            }

            &-content {
                justify-content: center;
            }
        }
    }
}

@media #{$mobile-lg} {
    .detail {
        &__main {
            &-content {
                .title {
                    font-size: 18px;
                    line-height: 25px;
                }
            }

            &-price {
                .price {
                    font-size: 18px;
                    line-height: 18px;
                }

                &-oldPrice {
                    font-size: 16px;
                    line-height: 18px;
                }
            }

            &-quantity {
                flex-direction: column;
            }
        }

        &__info {
            &-btn {
                height: 50px;
                font-size: 14px;
                line-height: 16px;
            }

            &-content {
                .form {
                    width: 100%;

                    input,
                    textarea {
                        padding: 15px 10px;
                    }
                }
            }
        }

        &__similar {
            &-title {
                font-size: 25px;
                line-height: 30px;
            }
        }
    }
}

@media #{$mobile-md} {
    .detail__info-btn:nth-child(2) {
        margin: 0 5px;
        flex-direction: column;
    }
}
