@import "../../utils/variables.scss";

.feedbacks {
    &__card {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        &-title {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: 7px;

            .ui.rating {
                display: block;
                margin: auto 10px;
            }
        }

        &-name {
            font-family: $Montserrat;
            font-size: 16px;
            font-weight: bold;
            line-height: 20px;
            color: #000000;
        }

        &-date {
            font-family: $Montserrat;
            font-weight: 300;
            font-size: 14px;
            line-height: 14px;
            color: #000000;

            .date {
                margin-right: 5px;
            }
        }

        &-text {
            font-family: $Montserrat;
            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
        }
    }

    &__more {
        display: flex;
        justify-content: center;
        align-items: center;

        &-content {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $Montserrat;
            font-size: 14px;
            line-height: 17px;
            color: #3e3e3e;
        }

        .arrow {
            margin-left: 10px;
        }
    }
}
