@import "../../utils/variables.scss";

.list {
    &__content {
        margin: 0 50px;
        display: flex;
        flex-direction: column;
        flex: 1;

        &-filterContainer {
            background: #ffffff;
            border-radius: 7px 7px 7px 0px;
            display: flex;
            flex-direction: column;
            padding: 29px 0 15px 38px;
            font-family: $Montserrat;
            font-weight: 300;
            color: #000000;
        }

        &-categories {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: 33px;
        }

        &-category {
            font-size: 22px;
            line-height: 27px;
        }

        &-arrow {
            margin: 0 10px;
        }

        &-subcategory {
            font-size: 26px;
            font-weight: 600;
            line-height: 32px;
        }

        &-sort {
            margin-bottom: 10px;

            &-title {
                font-size: 16px;
                line-height: 20px;
                margin-right: 10px;
            }

            .ui.selection.dropdown,
            .ui.selection.active.dropdown {
                font-size: 15px;
                line-height: 18px;
                background: #ffffff;
                border: 0.5px solid #000000;
                box-sizing: border-box;
                border-radius: 4px;
                height: 31px;

                .text {
                    font-size: 15px;
                    line-height: 18px;
                }
            }
        }

        &-adaptiveFilter {
            display: none;
        }

        &-inputs {
            margin-right: 17px;
            display: flex;
            align-items: center;

            input {
                width: 50px;
                height: 30px;
                background: #ffffff;
                border: 0.3px solid #000000;

                &:focus {
                    outline: none !important;
                    border: 0.3px solid #1d97f0;
                }
            }

            .dash {
                width: 9px;
                height: 1px;
                margin: 0 9px;
                background-color: #000000;
            }
        }

        &-pages {
            font-size: 14px;
            line-height: 14px;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: center;
            padding-right: 10px;
            margin-bottom: 10px;

            input {
                width: 30px;
                height: 30px;
                margin: 0 5px;
                text-align: center;

                &:focus {
                    border: 2px solid $main-blue;
                    outline: 0;
                    box-shadow: 0 0 3px;
                }
            }
        }

        &-products {
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            &-wrapper {
                display: flex;
                margin-top: 40px;
                width: 100%;
            }
        }

        &-pagination {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;

            .ui.pagination.menu .item {
                color: $main-blue;
            }
        }
    }
}

// delete default arrows
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

// ------------------MEDIA Queries-------------------------------------------//
@media #{$desktop-sm} {
    .list {
        &__content {
            margin: 0;

            &-filterContainer {
                padding: 15px;
            }
        }
    }
}

@media #{$tablet-sm} {
    .list {
        &__content {
            &-products {
                justify-content: center;
            }

            &-adaptiveFilter {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                font-size: 16px;
                margin-bottom: 10px;

                button {
                    background: 0;
                    border: 0;

                    img {
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}

@media #{$mobile-lg} {
    .list {
        &__content {
            &-categories {
                margin-bottom: 20px;
            }

            &-category,
            &-subcategory {
                font-size: 18px;
                line-height: 20px;
            }

            &-sort {
                display: flex;
                flex-direction: column;
                margin-bottom: 15px;

                &-title {
                    margin-bottom: 5px;
                }
            }
        }
    }
}
