.list__content {
    &-filter {
        display: flex;
        align-items: center;
        margin-left: 33px;

        &-title {
            font-size: 16px;
            line-height: 20px;
            margin-right: 10px;
        }

        button {
            background: #1d97f0;
            font-size: 10px;
            line-height: 12px;
            color: #ffffff;
            border: 0;
            width: 120px;
            height: 30px;
            cursor: pointer;
        }
    }
}
