@import "../../utils/variables.scss";

.header {
    height: 120px;
    width: 100%;
    display: flex;

    &__logo {
        height: 100%;
        width: 155px;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 36px;
        line-height: 33px;
        letter-spacing: -0.06em;
        color: #fff;
        font-family: $Montserrat-Subrayada;

        &:hover {
            color: #fff;
        }

        &:focus {
            color: #fff;
        }

        & .market {
            font-family: $Montserrat-Alternates;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: -0.06em;
            color: #ffffff;
        }

        & .tech span {
            color: #1d97f0;
        }

        & .tech .t {
            margin-right: 5px;
        }
    }

    &__nav {
        display: flex;
        flex-direction: column;
        width: 100%;

        &-links,
        &-search {
            height: 60px;
        }

        &-links {
            background: #e8eaec;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 15px;
            font-family: $Montserrat;

            & .title {
                font-size: 14px;
                line-height: 14px;
                color: rgba(0, 0, 0, 0.81);
            }

            & .container {
                & a {
                    margin: 0 30px;
                    font-size: 16px;
                    line-height: 20px;
                    color: #000000;
                }
            }
        }

        &-search {
            display: flex;
            align-items: center;
            justify-content: space-around;
            background: #000000;
            font-family: $Montserrat;

            .track {
                font-size: 14px;
                line-height: 17px;
                text-transform: uppercase;
                color: #ffffff;
            }

            .search-form {
                display: flex;
                align-items: center;

                .searchSvg {
                    display: flex;
                    align-items: center;
                    margin-left: 10px;
                }

                .searchSvg svg {
                    width: 24px;
                    height: 24px;
                }
            }

            .cart {
                display: flex;
                align-items: center;
                height: 35px;
                cursor: pointer;

                &__data {
                    color: #fff;
                    margin-left: 10px;

                    .goods-num {
                        background: #1d97f0;
                        border-radius: 13px;
                        font-size: 16px;
                        line-height: 16px;
                        width: 25px;
                        height: 25px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .goods-label {
                        font-size: 15px;
                        line-height: 15px;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}

// SEMANTIC UI REACT CUSTOM CSS
.ui.action.input:not([class*="left action"]) > input {
    width: 360px;
}

.ui.dropdown > .dropdown.icon:before {
    color: #1d97f0;
}

.ui.dropdown > .text {
    font-family: $Montserrat;
    font-size: 12px;
    line-height: 15px;
}

// Media Queries
@media #{$desktop-lg} {
    .ui.action.input:not([class*="left action"]) > input {
        width: 300px;
    }
}

@media #{$desktop-md} {
    .ui.action.input:not([class*="left action"]) > input {
        width: 200px;
    }

    .tech {
        font-size: 25px;
    }

    .header {
        &__logo {
            width: 135px;

            .market {
                font-size: 16px;
            }
        }

        &__nav {
            &-links {
                height: 40px;
            }

            &-search {
                height: 80px;
                flex-wrap: wrap;

                .ui.selection.dropdown {
                    padding: 10px 25px 10px 5px;
                }

                .ui.selection.dropdown > .delete.icon,
                .ui.selection.dropdown > .dropdown.icon,
                .ui.selection.dropdown > .search.icon {
                    padding: 11px 5px;
                }
            }
        }
    }
}

@media #{$desktop-sm} {
    .header {
        height: 150px;

        &__nav {
            &-links {
                .container a {
                    margin: 0 15px;
                }
            }

            &-search {
                height: 110px;
            }
        }
    }
}

@media #{$tablet-lg} {
    .header {
        &__nav {
            &-links {
                padding: 0 0 0 15px;

                .container {
                    display: none;
                }

                .container a {
                    margin: 0 10px;
                }
            }

            &-search {
                .cart__data {
                    display: flex;
                    align-items: center;

                    .goods-label {
                        margin-top: 0;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

@media #{$tablet-md} {
    .header {
        height: 130px;

        &__nav {
            &-search {
                flex-direction: column;

                .track {
                    display: none;
                }
            }
        }
    }
}

@media #{$tablet-sm} {
    .ui.action.input:not([class*="left action"]) > input {
        padding: 0.378571em 0.5em;
        width: 280px;
    }

    .ui.action.input:not([class*="left action"]) > .button:last-child,
    .ui.action.input:not([class*="left action"]) > .buttons:last-child > .button,
    .ui.action.input:not([class*="left action"]) > .dropdown:last-child {
        display: none;
    }

    .ui.action.input:not([class*="left action"]) > input {
        border-top-right-radius: 0.28571429rem !important;
        border-bottom-right-radius: 0.28571429rem !important;
        border-right-color: rgba(34, 36, 38, 0.7) !important;
        border: 1px solid rgba(34, 36, 38, 0.7);
    }

    .header {
        height: 70px;

        &__nav {
            &-links {
                background-color: #fff;
                height: 30px;
                padding: 0 15px;

                .title {
                    font-size: 13px;
                }
            }

            &-search {
                background-color: #fff;
                height: 30px;
                align-items: flex-start;
                padding: 0 15px;

                .search-form .searchSvg svg {
                    path {
                        fill: #000;
                    }
                }

                .cart {
                    display: none;
                }
            }
        }

        &__logo {
            width: 80px;
            font-size: 18px;
            line-height: 18px;

            .tech {
                font-size: 18px;
            }
        }
    }
}

@media #{$mobile-lg} {
    .ui.action.input:not([class*="left action"]) > input {
        width: 250px;
    }

    .header {
        height: 75px;

        &__nav {
            &-links {
                padding: 0 10px;
                margin-bottom: 5px;
            }

            &-search {
                padding: 0 10px;
            }
        }

        &__logo {
            width: 70px;
            padding: 5px;

            .market {
                font-size: 15px;
            }
        }
    }
}

@media #{$mobile-md} {
    .ui.action.input:not([class*="left action"]) > input {
        width: 190px;
    }
}
