@import "../../utils/variables.scss";

.contacts {
    &__content {
        margin: 0 100px;
        background: #ffffff;
        border-radius: 7px 7px 7px 0px;
        padding: 27px 38px;
        font-family: $Montserrat;
        color: #000000;

        &-title {
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 30px;
        }

        &-text {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 15px;

            &-label {
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 5px;
            }
        }
    }
}
