@import "../../utils/variables.scss";

.search {
    font-family: $Montserrat;

    &__content {
        flex: 1;
        color: #000;

        &-navbar {
            background: #ffffff;
            border-radius: 7px 7px 7px 0px;
            padding: 20px 38px;

            &-title {
                font-size: 24px;
                line-height: 29px;
                margin-bottom: 10px;
            }

            &-sort {
                display: flex;
                align-items: center;

                .ui {
                    margin-left: 10px;
                }
            }

            &-filter {
                display: none;
            }

            &-results {
                text-align: right;
                font-size: 14px;
                line-height: 14px;
                color: #3e3e3e;
                margin-top: 10px;
            }

            .ui.search.selection.dropdown {
                min-width: 235px;
            }
        }

        &-wrapper {
            display: flex;
            align-items: flex-start;
        }

        &-categories {
            background: #ffffff;
            padding: 10px 20px;
            margin-top: 43px;

            &-title {
                font-size: 16px;
                line-height: 15px;
                margin-bottom: 5px;
            }

            &-checkboxes {
                display: flex;
                flex-direction: column;
                margin-bottom: 15px;

                label {
                    margin: 5px 0;
                }
            }

            &-subtitle {
                margin-top: 15px;
                margin-bottom: 5px;
                font-size: 16px;
                line-height: 15px;
            }

            &-results {
                &-title {
                    font-size: 14px;
                    line-height: 14px;
                    margin: 15px 0 5px;
                }

                &-pages {
                    input {
                        padding: 5px;
                        width: 30px;
                        text-align: center;
                        margin: 0 5px;
                    }
                }
            }

            .ui.search.dropdown.active > input.search,
            .ui.search.dropdown.visible > input.search {
                font-size: 16px;
            }

            .ui.checkbox input.hidden + label {
                font-size: 16px;
            }
        }

        &-products {
            display: flex;
            flex-wrap: wrap;
            flex: 1;
            padding: 43px 20px;

            .popular__goods-wrapper {
                width: 33.333%;
            }

            &-pagination {
                display: flex;
                justify-content: center;
            }
        }
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}

// ------------------MEDIA Queries-------------------------------------------//
@media #{$tablet-lg} {
    .search {
        &__content {
            &-navbar {
                padding: 20px 15px;

                &-sort {
                    flex-direction: column;
                    align-items: baseline;
                }

                .search__content-navbar-sort .ui {
                    margin-left: 0;
                    margin-top: 5px;
                }
            }
        }
    }
}

@media #{$tablet-md} {
    .search {
        &__content {
            &-navbar {
                &-filter {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    margin-top: 10px;

                    img {
                        margin-left: 5px;
                    }
                }

                &-results {
                    text-align: left;
                }
            }

            &-categories {
                display: none;
            }

            &-products {
                justify-content: center;
            }
        }
    }
}
