@mixin cart-num {
    background: #1d97f0;
    border-radius: 13px;
    font-size: 16px;
    line-height: 16px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

@mixin input-focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

@mixin order-input-focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

@mixin clear-default-btn {
    border: 0;
    background: 0;
    cursor: pointer;
}

@mixin passive_inputs {
    border: 1px solid gray !important;
    opacity: 0.5;
}

@mixin cart_icon {
    width: 32px;
    height: 32px;
    fill: #fff;
}

@mixin close_icon {
    width: 30px;
    height: 30px;
    opacity: 0.6;

    &:hover {
        fill: $main-blue;
        transition: 0.2s fill linear;
    }
}

@mixin box_shadow {
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
