@import "../../utils/variables.scss";

.basket__content-item {
    display: flex;
    align-items: center;
    padding: 10px 26px;
    font-family: $Montserrat;
    font-weight: 300;
    color: #000000;
    border-bottom: 1px solid #c4c4c4;

    &-image {
        width: 81px;
        height: 80px;

        img {
            width: 81px;
            height: 80px;
        }
    }

    &-details {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 0 10px 0 25px;
    }

    &-detail {
        display: flex;
        align-items: center;

        .times {
            margin: 0 10px;
            font-size: 16px;
        }

        .price {
            font-size: 21px;
            line-height: 26px;

            span {
                margin-right: 5px;
            }
        }

        .container {
            margin-left: 0;
        }
    }

    &-title {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 20px;
    }

    &-final {
        line-height: 26px;
        font-size: 16px;

        span {
            font-size: 21px;
            font-weight: bold;
            margin-right: 5px;
        }
    }
}

// ------------------MEDIA Queries-------------------------------------------//
@media #{$tablet-md} {
    .basket {
        &__content {
            &-item {
                flex-direction: column;
                padding: 10px;
                position: relative;

                &-detail {
                    justify-content: center;

                    .price {
                        font-size: 18px;
                        line-height: 22px;
                    }

                    .times {
                        margin: 0 20px;
                    }

                    .container-quantity {
                        margin: 0 20px;
                    }
                }

                &-final {
                    span {
                        font-size: 18px;
                    }
                }

                &-price {
                    flex-direction: row-reverse;
                    align-items: center;
                    margin-top: 10px;

                    button {
                        margin-bottom: 0;
                        position: absolute;
                        top: 15px;
                        right: 15px;
                    }
                }

                &-title {
                    text-align: center;
                    margin-top: 10px;
                }
            }
        }
    }
}
