@import "../../utils/variables.scss";

.basket__content {
    background: #ffffff;
    border-radius: 7px;
    margin: 0 100px;
    flex: 1;
    padding: 26px 0;
    font-family: $Montserrat;
    font-weight: 300;
    color: #000000;

    &-header {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 15px;
        padding: 0 26px;
    }

    &-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $Montserrat;
        padding: 0 15px;

        .return {
            font-size: 14px;
            line-height: 17px;
            color: #3e3e3e;
            background: 0;
            border: 0;
            cursor: pointer;
        }

        .proceed {
            background: #1d97f0;
            border-radius: 7px;
            font-size: 16px;
            line-height: 20px;
            color: #ffffff;
            width: 334px;
            height: 41px;
            border: 0;
            cursor: pointer;
            text-align: center;
            margin-left: 13px;
        }
    }
}

// ------------------MEDIA Queries-------------------------------------------//
@media #{$desktop-md} {
    .basket {
        &__content {
            margin: 0;
        }
    }
}

@media #{$tablet-md} {
    .basket {
        &__content {
            &-buttons {
                flex-direction: column-reverse;

                .proceed {
                    margin-left: 0;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@media #{$mobile-lg} {
    .basket {
        &__content {
            padding: 15px 0;

            &-buttons {
                .proceed {
                    width: 250px;
                    height: 50px;
                }
            }
        }
    }
}
