@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";

.empty-cart {
    background: #ffffff;
    border-radius: 7px;
    flex: 1;
    margin: 0 200px;
    padding: 26px 31px;
    font-family: $Montserrat;

    &__header {
        font-size: 24px;
        line-height: 29px;
        color: #000000;
    }

    &__message {
        margin: 190px 0;
        text-align: center;
        font-style: italic;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #3e3e3e;
    }

    &__btn {
        @include clear-default-btn;
        background: $main-blue;
        border-radius: 7px;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
        display: block;
        margin: 0 auto;
        width: 334px;
        height: 41px;

        &:hover {
            background: $blue-focus-btn;
        }
    }
}

// ------------------MEDIA Queries-------------------------------------------//
@media #{$desktop-md} {
    .empty-cart {
        margin: 0 100px;
    }
}

@media #{$desktop-sm} {
    .empty-cart {
        margin: 0 50px;
    }
}

@media #{$tablet-lg} {
    .empty-cart {
        margin: 0;
        padding: 15px;
    }
}

@media #{$tablet-sm} {
    .empty-cart {
        &__message {
            margin: 100px 0;
        }
    }
}

@media #{$mobile-lg} {
    .empty-cart {
        &__header {
            font-size: 20px;
        }

        &__message {
            font-size: 18px;
        }

        &__btn {
            width: 250px;
            height: 45px;
        }
    }
}
