.carousel-root {
    display: flex;
    align-items: flex-end;
    width: 100%;
}

// top slider
.carousel.carousel-slider {
    background: #ffffff;
    border-radius: 7px 0px 7px 7px;
    padding: 30px 10px;
    width: 48% !important;
}

// lower slider
.carousel {
    width: 52% !important;
}

.carousel .thumbs-wrapper,
.carousel .thumbs,
.carousel .thumb {
    height: 100px !important;
}

.carousel .thumbs-wrapper {
    margin-bottom: 30px !important;
}

.carousel .thumb {
    width: 110px !important;
    margin: 0 15px;
}

.ui.rating {
    margin-bottom: 11px;
}

.ui.rating .active.icon {
    color: #1d97f0;
}

.selected.icon {
    color: #1d97f0;
}

.active.icon:focus {
    outline: 0;
}

.selected.icon:focus {
    outline: 0;
}
