.carousel-root {
    display: flex;
    align-items: flex-end;
}

// top slider
.carousel.carousel-slider {
    background: #ffffff;
    border-radius: 7px 0px 7px 7px;
    padding: 30px 10px;
    width: 600px;
}

// lower slider
.carousel {
}

.ui.rating {
    width: 60%;
    margin-bottom: 11px;
}

.ui.rating .active.icon {
    color: #1d97f0;
}

.selected.icon {
    color: #1d97f0;
}

.active.icon:focus {
    outline: 0;
}

.selected.icon:focus {
    outline: 0;
}
